*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;

}
nav{
	flex: 1;
	text-align: center;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;

}
a{
	text-decoration: none;
	color: #555;

}
p{
	color: #555;
}
body{
  margin: 0;
  padding: 0;
  background-color: lightcoral;
  background-size: cover;
}
section::before
{
	content: '';
	position: absolute;
	top: 823px;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, orange, transparent);
	z-index: 1000;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(images/bg1.jpg) no-repeat;
  background-size: cover;
  
}
.container{
	 max-width: 1300px;
	 margin: auto;
	 padding-left: 25px;
	 padding-right: 25px;
}
.logo{
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 8%;
	content: "";
	margin-left: -80px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
	max-width: 100%;
	padding: 100px 0;
}
.col-2 h1{
	font-size: 40px;
	line-height: 40px;
	margin: 15px 0;
	position: absolute;
	top: 150px;
	right: 20px;
}
.col-2 p{
	position: absolute;
	top: 260px;
	right: 90px;
}
.col-2 a{
	position: absolute;
	top: 300px;
	right: 250px;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
  background: #563434;

}
.cart img{
	position: absolute;
	top: 12px;
  right: 460px;
}
.col-3 img{
	width: 400px;
	position: absolute;
	top: 824.5px;
	left: 10px;
	z-index: 9000;
}
.col-4 img{
	width: 430px;
	height: 270px;
	position: absolute;
	top: 824.5px;
	left: 459px;
	z-index: 9000;

}
.col-5 img{
	width: 400px;
	height: 270px;
	position: absolute;
	top: 824.5px;
	right: 10px;
	z-index: 9000;
}

.small-container h2{
	left: 590px;
	color: black;
	position: absolute;
	top: 1150px;
	
	z-index: 1000;
}
.col-6{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
}
.col-6 img{
	position: absolute;
	width: 200px;
	top: 1250px;
	left: 597px;
	z-index: 1000;
	transition: transform 0.3s;

}
.col-6 h4{
	position: absolute;
	top: 1460px;
	left: 597px;
	color: black;
	z-index: 1000;
}
.col-6 p{
	font-size: 17px;
	position: absolute;
	top: 1500px;
	left: 597px;
	color: black;
	z-index: 1000;
}
.col-6 .rating {
	color: red;
	position: absolute;
	top: 1479px;
	left: 597px;
	z-index: 1000;
}
.col-6 img:hover{
	transform: translateY(-5px);
}
.col-7 img{
	position: absolute;
	width: 185px;
	height: 200px;
	top: 1250px;
	left: 286px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-7 h4{
	position: absolute;
	top: 1460px;
	left: 286px;
	color: black;
	z-index: 1000;
}	
.col-7 p{
	font-size: 17px;
	position: absolute;
	top: 1500px;
	left: 286px;
	color: black;
	z-index: 1000;
}
.col-7 .rating {
	color: red;
	position: absolute;
	top: 1479px;
	left: 286px;
	z-index: 1000;
}
.col-7 img:hover{
	transform: translateY(-5px);
}
.col-8 img{
	position: absolute;
	width: 185px;
	height: 200px;
	top: 1250px;
	left: 914px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-8 h4{
	position: absolute;
	top: 1460px;
	left: 914px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}	
.col-8 p{
	font-size: 17px;
	position: absolute;
	top: 1500px;
	left: 914px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-8 .rating {
	color: red;
	position: absolute;
	top: 1479px;
	left: 914px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-8 img:hover{
	transform: translateY(-5px);
}
.title::after{
	content: '';
	background: red;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: -11px;
	left: 30%;
	transform: translateX(-50)
}
.title{
	font-size: 25px;
	color: black;
	position: absolute;
	top: 1580px;
	left: 590px;
	z-index: 1000;
}
section::after
{
	content: '';
	position: absolute;
	top: 1600px;
	width: 100%;
	height: 200%;
	background: linear-gradient(to bottom, transparent, orange);
}
.col-9{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
}
.col-9 img{
	position: absolute;
	width: 185px;
	height: 220px;
	top: 1700px;
  left: 240px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-9 h4{
	position: absolute;
	top: 1930px;
	left: 240px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}	
.col-9 p{
	font-size: 17px;
	position: absolute;
	top: 1950px;
	left: 240px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-9 .rating {
	color: red;
	position: absolute;
	top: 1970px;
	left: 240px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-9 img:hover{
	transform: translateY(-5px);
}
.col-10 img{
	position: absolute;
	width: 185px;
	height: 220px;
	top: 1700px;
	left: 480px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-10 h4{
	position: absolute;
	top: 1930px;
	left: 480px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}	
.col-10 p{
	font-size: 17px;
	position: absolute;
	top: 1950px;
	left: 480px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-10 .rating {
	color: red;
	position: absolute;
	top: 1970px;
	left: 480px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-10 img:hover{
	transform: translateY(-5px);
}  
.col-11 img{
	position: absolute;
	width: 185px;
	height: 220px;
	top: 1700px;
	left: 720px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-11 h4{
	position: absolute;
	top: 1930px;
	left: 720px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}	
.col-11 p{
	font-size: 17px;
	position: absolute;
	top: 1950px;
	left: 720px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-11 .rating {
	color: red;
	position: absolute;
	top: 1970px;
	left: 720px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-11 img:hover{
	transform: translateY(-5px);
} 
.col-12 img{
	position: absolute;
	width: 185px;
	height: 220px;
	top: 1700px;
	left: 960px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-12 h4{
	position: absolute;
	top: 1930px;
	left: 960px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}	
.col-12 p{
	font-size: 17px;
	position: absolute;
	top: 1950px;
	left: 960px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-12 .rating {
	color: red;
	position: absolute;
	top: 1970px;
	left: 960px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-12 img:hover{
	transform: translateY(-5px);
} 
.col-13{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
}
.col-13 img{
	position: absolute;
	width: 185px;
	height: 220px;
	top: 2020px;
  left: 240px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-13 h4{
	position: absolute;
	top: 2250px;
	left: 240px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}	
.col-13 p{
	font-size: 17px;
	position: absolute;
	top: 2270px;
	left: 240px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-13 .rating {
	color: red;
	position: absolute;
	top: 2290px;
	left: 240px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-13 img:hover{
	transform: translateY(-5px);
}
.col-14 img{
	position: absolute;
	width: 185px;
	height: 220px;
	top: 2020px;
	left: 480px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-14 h4{
	position: absolute;
	top: 2250px;
	left: 480px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}	
.col-14 p{
	font-size: 17px;
	position: absolute;
	top: 2270px;
	left: 480px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-14 .rating {
	color: red;
	position: absolute;
	top: 2290px;
	left: 480px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-14 img:hover{
	transform: translateY(-5px);
}  
.col-15 img{
	position: absolute;
	width: 185px;
	height: 220px;
	top: 2020px;
	left: 720px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-15 h4{
	position: absolute;
	top: 2250px;
	left: 720px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}	
.col-15 p{
	font-size: 17px;
	position: absolute;
	top: 2270px;
	left: 720px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-15 .rating {
	color: red;
	position: absolute;
	top: 2290px;
	left: 720px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-15 img:hover{
	transform: translateY(-5px);
} 
.col-16 img{
	position: absolute;
	width: 185px;
	height: 220px;
	top: 2020px;
	left: 960px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-16 h4{
	position: absolute;
	top: 2250px;
	left: 960px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}	
.col-16 p{
	font-size: 17px;
	position: absolute;
	top: 2270px;
	left: 960px;
	color: black;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-16 .rating {
	color: red;
	position: absolute;
	top: 2290px;
	left: 960px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-16 img:hover{
	transform: translateY(-5px);
} 
.small-container1 p:hover{
	transform: translateY(-5px);
} 
.small-container1 p{
	left: 190px;
	color: black;
	position: absolute;
	top: 2410px;
	padding: 30px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.3s;
	z-index: 1000;
}
.col-17 i{
		position: absolute;
	top: 2415px;
	left: 330px;
}
.col-18 .rating{
	color: red;
	position: absolute;
	top: 2550px;
	left: 280px;
	z-index: 1000;
	transition: transform 0.3s;
}
h5{
	font-style: oblique;
	font-size: 15px;
	position: absolute;
	top: 2570px;
	left: 280px;
}
.small-container2 p:hover{
	transform: translateY(-5px);
} 
.small-container2 p{
	left: 535px;
	color: black;
	position: absolute;
	top: 2410px;
	padding: 30px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
	cursor: pointer;
	z-index: 1000;
}
.col-19 i{
		position: absolute;
	top: 2415px;
	left: 675px;
}
.col-20 .rating{
	color: red;
	position: absolute;
	top: 2550px;
	left: 625px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-21 p{
	color: black;
	font-style: oblique;
	font-size: 15px;
	position: absolute;
	top: 2570px;
	left: 625px;
}
.small-container3 p:hover{
	transform: translateY(-5px);
} 
.small-container3 p{
	left: 880px;
	color: black;
	position: absolute;
	top: 2410px;
	padding: 30px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
	cursor: pointer;
	z-index: 1000;
}
.col-22 i{
		position: absolute;
	top: 2415px;
	left: 1015px;
}
.col-23 .rating{
	color: red;
	position: absolute;
	top: 2550px;
	left: 975px;
	z-index: 1000;
	transition: transform 0.3s;
}
.col-24 p{
	color: black;
	font-style: oblique;
	font-size: 15px;
	position: absolute;
	top: 2570px;
	left: 975px;
}
.fa.fa-quote-left{
	color: red;
}
/*-------brands------*/
.brands{
	margin: 100px auto;
}
.col-25 img{
	height: 70px;
	position: absolute;
	top: 2650px;
	left: 200px;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-25 img:hover{
	filter: grayscale(0);
}
.col-26 img{
	height: 70px;
	position: absolute;
	top: 2650px;
	left: 400px;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-26 img:hover{
	filter: grayscale(0);
}
.col-27 img{
  height: 70px;
	position: absolute;
	top: 2650px;
	left: 600px;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-27 img:hover{
	filter: grayscale(0);
}
.col-28 img{
	height: 70px;
	position: absolute;
	top: 2650px;
	left: 800px;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-28 img:hover{
	filter: grayscale(0);
}
.col-29 img{
	height: 70px;
	position: absolute;
	top: 2650px;
	left: 1000px;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-29 img:hover{
	filter: grayscale(0);
}
.footer {
	position: absolute;
	width: 100%;
	top: 2800px;
	background: #000;
	color: red;
	font-size: 14px;
	padding: 70px 0 70px;
}
.footer p{
	color: #8a8a8a;
}
.footer h6{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-1 p{
	position: absolute;
	bottom: 75px;
}
.footer-col-1 h6{
	position: absolute;
	bottom: 130px;
	font-size: 13px;
}
.footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img{
	left: 640px;
	position: absolute;
	bottom: 67px;
	width: 100px;
	margin-bottom: 20px;
}
.footer-col-2 p{
	position: absolute;
	left: 440px;
	bottom: 40px;
}
.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.footer-col-3 h6{
	color: red;
	position: absolute;
	bottom: 100px;
	left: 1016px;
	font-size: 14px;
}
.footer-col-3 ul{
	bottom: 40px;
	position: absolute;
	left: 1000px;
}

.footer-col-4 h6{
	color: red;
	position: absolute;
	bottom: 100px;
	font-size: 14px;
	left: 1180px;
}
.footer-col-4 ul{
	font-size: 21px;
	bottom: 70px;
	position: absolute;
	left: 1180px;
}
.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 140px;
	position: absolute;
	bottom: 100px;
}
.app-logo1 {
	margin-top: 20px;
}
.app-logo1 img{
	width: 140px;
	position: absolute;
	bottom: 20px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	position: absolute;
	text-align: center;
  bottom: 5px;
}
